* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* box-sizing: border-box; */
}

a {
    color: white;
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    outline-offset: none;
}