.header {
    padding: 15px 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid forestgreen;
    font-size: 2rem;

    .logo-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        &__logotype {
            max-width: 56px;
            max-height: 56px;
        }

        &__title {
            font-size: 2.6rem;
            line-height: 3rem;
            font-weight: 500;
        }
    }

    .search-form {
        padding: 10px 15px;
        min-width: 800px;
        border-radius: 20px;

        border: 1px solid transparent;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        background-color: rgb(233, 233, 233);
        transition: 1s;


        &__magnifier {
            max-height: 18px;
        }

        &__input-line {
            min-width: 600px;
            background: transparent;
            border: none;
            color: black;
            font-size: 2rem;
            outline: none;
            outline-offset: none;
        }
    }

    .search-form:hover {
        border: 1px solid black;
    }

    .choose-border {
        padding: 15px 20px;
        background: lightgreen;
        color: black;
        font-size: 2.2rem;
        line-height: 2.8rem;
        border-radius: 16px;
        border: none;

    }
}

.pins-conteiner {
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    gap: 20px;

    &__vertical-pins {
        max-width: 240px;
        min-width: 238px;
        min-height: 1000px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .pin-container {
            margin: 0 auto;
            padding-bottom: 15px;
            max-height: 300px;
            max-width: 200px;
            width: 100%;
            height: 100%;

            &__pin-content {
                margin-bottom: 18px;
                max-height: 255px;
                max-width: 200px;
                width: 100%;
                height: 100%; 
                border-radius: 20px;  
                background: url(../assets/rastor/main/test-picture.jpg) no-repeat center center;
                

                .content-wrap {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    gap: 10px;
                    visibility: hidden; 

                    .content-wrap__pin-action {
                        margin: 0 auto;
                        padding: 4px 6px;
                        background: rgba(255, 255, 255, 0.6);
                        border: 1px solid black;
                        color: black;
                        font-size: 1.4rem;
                        line-height: 1.8rem;
                        max-width: max-content;
                        border-radius: 6px;
                    }

                    .content-wrap__pin-action:nth-child(2) {
                        background: transparent;
                        color: white;
                        border: none;
                        cursor: pointer;
                    }

                    .content-wrap__pin-action:last-child {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        gap: 10px;
                        margin-bottom: 10px;
                    }
                }
            }
            .pin-container__pin-content:hover {
                .content-wrap {
                    visibility: visible;
                    transition: 1.7s;

                }
            }
            .pin-container__pin-content:not(hover) {
                .content-wrap {
                    visibility: hidden;
                    transition: 1s;

                }
            }

            .pin-info {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;

                &__avatar {
                    padding-left: 8px;
                    max-height: 32px;
                    max-width: 32px;
                    border-radius: 50%;
                }

                &__title {
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                }
            }

        }
    }
}

